<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/index.css">
    <link rel="stylesheet" href="./stylesheets/nav.css">
    <link rel="stylesheet" href="./icon/css/all.min.css">
    <title>Home Page</title>
</head>
<body>
    <nav>
        <div class="handburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <li class="active"><i class="fas fa-home"></i><a href="/">HOME</a></li>
        <%if(!currentUser){%>
            <li><i class="fas fa-user-lock"></i><a href="/login">Log in</a></li>
            <li><i class="fas fa-sign-out-alt"></i><a href="/signin">Sign Up</a></li>
        <%}else{%>
            <li><i class="fas fa-clipboard-list"></i><a href="/todo/<%=currentUser['id']%>">Todo</a></li>
            <li><i class="fas fa-sign-out-alt"></i><a href="/logout">Log Out</a></li>
        <%}%>
    </nav>

    

    <section id="main">
        <div class="alert">
              <% if(error && error.length>0){ %>
              <div class="alert alert-danger" style="position: absolute;width: 70%;background: red;z-index: 9;left: 10%;top: 30px;color: #C7254E;background: #E9C7C7;padding: 10px;line-height: 20px;font-size: 15px;border: 2px solid #C7254E;border-radius: 5px;">
                <p><%= error %></p>
              </div>
              <% } %>
              <% if(success && success.length>0){ %>
              <div class="alert alert-success" style="position: absolute;width: 70%;background: red;z-index: 9;left: 10%;top: 30px;color: #3C763D;background: #D4EBCA;padding: 10px;line-height: 20px;font-size: 15px;border: 2px solid #3C763D;border-radius: 5px;">
                <p><%= success  %></p>
              </div>
              <% } %>
        </div>
        <div class="header">
            <h1><span>TODO</span> List.</h1>
            <p>Create you Own <b>Todo.</b></p>
            <div class="btn">
                <a href="/login">Log in</a>
                <a href="/signin">Sign Up</a>
            </div>
        </div>
    </section>


    <script type="text/javascript" src="./jquery.js"></script>
    <script type="text/javascript">
        $('.handburger').click(()=>{
            $('.handburger').toggleClass('active');
            $('nav').toggleClass('active');
            $('#main').toggleClass('active');
        })
    </script>
</body>
</html>